# Data Science Tools and Ecosystems

## In this notebook, Data Science Tools and Ecosystem are summarized.

### Some of the popular languages that Data Scientist use are:

1. Python
2. R
3. Excel

### Some of the popular libraries that Data Scientist use are:

1. Pandas
2. Numpy 
3. Scipy

### Data Science Tools

|Data Science Tools|
|----|
|Apache Spark|
|D3.js|
|IBM SPSS|

### Below are a few examples of evaluating arithmetic expressions in Python

In [1]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [3]:
# This will convert 200 minutes to hours by diving by 60
Minutes = 200
Hours = Minutes/60 
Hours

3.3333333333333335

### Objectives

. List of popular languages for Data Science

. List of popular libraries for Dta Science 

. List of Data Science Tools

## Author

Minh Vong